* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

#header,
#form {
  margin: 0 1rem;
  min-height: 10vh;
  width: 100%;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  min-height: 15vh;
  width: 100%;
}

form {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  margin: 15px 0;
  padding: 0.8rem;
  width: 100%;
}

form input {
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  max-width: 50vh;
  min-width: 50vh;
}

form input.theme-input {
  background-color: #aeb1b4;
  color: #1a150e;
}

form input:hover {
  cursor: text;
}

button {
  border: none;
  outline: none;
  background-color: #589958;
}

button:hover {
  cursor: pointer;
}

button.theme-button {
  background-color: white;
  color: #1a150e;
}

button.theme-button:hover {
  background-color: #f0f0f0;
}

form button {
  padding: 10px;
  font-size: 17px;
  min-width: 15vh;
}

#myUnOrdList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.todo-list {
  min-width: 25%;
  list-style: none;
}

.todo {
  min-width: 65vh;
  margin: 1rem;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
}

.theme-todo {
  background-color: #7a9fc4;
}

.todo li {
  padding: 7px;
  font-size: 20px;
  flex: 1;
  border-radius: 30px;
}

.check-btn,
.delete-btn {
  font-size: 19px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 80%;
  margin: 0 5px;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  transition: 0.2s;
  text-decoration: line-through;
  opacity: 0.5;
}
